{% extends "base.html" %}

{% block title %}Excluir Produto{% endblock %}

{% block content %}
  <div class="container page-config">
    <div class="intro-text">
      <h2 class="mb-3">Confirmar Exclusão</h2>
      <p class="lead">Tem certeza que deseja excluir a mesa <strong>"{{ object.name }}"</strong>?</p>
      <p class="lead">
      <form method="post">
        {% csrf_token %}
        <br><br>
        <button type="submit" class="btn btn-danger">Sim, tenho certeza</button>
        <a href="{% url 'cozinha:products' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
      </form>
      </p>
    </div>
  </div>
{% endblock %}