{% extends 'base.html' %}

{% block title %}<!-- Título da página -->{% endblock %}

{% load 'static' %} <!-- carrega os elementos staticos -->

{% block extrahead %}
    <!-- elementos head extras -->
{% endblock %} <!-- endblock evidencia o final de um bloco -->

{% block initialscripts %}
    <!-- scripts que serão carregados antes do elemento body -->
{% endblock %}

{% block content %}
    <!--  -->
{% endblock %}

{% block finalscripts %}
    <!-- scripts que serão carregados após o elemento body -->
{% endblock %}