{% extends "base.html" %}

{% block title %}{{ request.site.name }} - RH{% endblock %}

{% load crispy_forms_tags %}

{% block titlebody %}Gestão de Pessoas{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <!-- left column -->
  <div class="col-md-10">
    <!-- general form elements -->
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">Cadastrar novo produto</h3>
        <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'cozinha:products' %}">Voltar</a>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form method="post">
        <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Indicar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
