{% extends "base.html" %}

{% block title %}Desativar Produto{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <!-- left column -->
    <div class="col-md-10">
        <!-- general form elements -->
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Confirmar Desativação</h3>
                <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'cozinha:products' %}">Voltar</a>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post">
                <div class="card-body">
                    <p class="lead">Tem certeza que deseja desativar o produto <strong>"{{ object.name }}"</strong>?</p>
                    {% csrf_token %}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-danger">Sim, tenho certeza</button>
                    <a href="{% url 'cozinha:products' %}" class="btn btn-outline-secondary" role="button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}