{% extends 'base.html' %}

{% load static %}

{% block title %}{{ request.site.name }} {% endblock %}

{% block titlebody %}{% endblock %}

{% block extrahead %} 
    <link rel="stylesheet" href="{% static 'css/list_products.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class=" col-md-10">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Produtos</h3>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'cozinha:product-add' %}"
                    style="float: right;"><i class="fas fa-user-plus"></i>Criar novo produto</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div>
                        <form method="GET">
                            <div class="row justify-content-around float-right">
                                <div class="col-md-4">
                                    <input type="checkbox" name="finished" id="finished" {% if 'finished' in request.GET %}
                                        checked {% endif %}>
                                    <label for="finished">Exibir produtos desativados</label>
                                </div>
                                <div class="col-md-4 d-flex justify-content-center float-right">
                                    <input type="text" class="form-control" placeholder="Pesquisar" name='text'
                                        id="text-search" aria-label="Username" aria-describedby="basic-addon1"
                                        value="{{ request.GET.text }}">
                                    <button class="btn-sm btn-primary col-md-3 float-right" type="submit"
                                        name="action">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <ul class="product-container row justify-content-around">
                    {% for product in object_list %}
                    <li class="col-md-10">
                        <img class="img-fluid" src="{{ product.image.url }}" alt="imagem" class="img-responsive">
                        <p>{{product.name}}</p>
                        <p>{{wproduct.value}}</p>
                        <hr />
                        <strong>{{product.description}}</strong>
                        <a href="{% url 'cozinha:product-disable' product.pk %}"><i
                                class="fa-solid fa-trash-can"></i></a>
                    </li>
                    {% endfor %}
                </ul>

                <hr>
                {# Paginação #}
                <nav class="pagination navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <a class="page-link" href="?page=1">&laquo; Primeira</a>
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                        <span class="page-item">
                            <li class="page-link" style="text-decoration: none;"> Página {{ page_obj.number }} de {{
                                page_obj.paginator.num_pages }}</li>
                        </span>
                        {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última página</a>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}